table {
    width: 100%;
  }

th.mat-header-cell {
  text-align: center;
  padding-left: 0px!important;
}
  
td {
  text-align: center;
  padding: 0px!important;
}

span.unity-data-t {
  font-size: 12px;
}

span.date-t {
  font-size: 14px;
}