<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="fecha">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element">
                <span class="date-t">{{element.fecha | date:'dd/MM/yy HH:mm:ss':'UTC'}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="temperaturaAmbiente">
            <th mat-header-cell *matHeaderCellDef>Temperatura</th>
            <td mat-cell *matCellDef="let element">
                {{element.temperaturaAmbiente}}<span>°C</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="humedadAmbiente">
            <th mat-header-cell *matHeaderCellDef>Humedad Amb</th>
            <td mat-cell *matCellDef="let element">
                {{element.humedadAmbiente}}<span>%</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="humedadSuelo">
            <th mat-header-cell *matHeaderCellDef>Humedad Suelo</th>
            <td mat-cell *matCellDef="let element">
                {{element.humedadSuelo}}<span>%</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="viento">
            <th mat-header-cell *matHeaderCellDef>Viento</th>
            <td mat-cell *matCellDef="let element">
                {{element.viento}}<span class="unity-data-t">km/h</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="direccionViento">
            <th mat-header-cell *matHeaderCellDef>Dirección viento</th>
            <td mat-cell *matCellDef="let element">
                {{element.stringDireccionViento}}
            </td>
        </ng-container>
        <ng-container matColumnDef="lluvia">
            <th mat-header-cell *matHeaderCellDef>Lluvia</th>
            <td mat-cell *matCellDef="let element">
                {{element.lluvia}}%
            </td>
        </ng-container>
        <ng-container matColumnDef="precipitaciones">
            <th mat-header-cell *matHeaderCellDef> Precipitación</th>
            <td mat-cell *matCellDef="let element">
                {{element.precipitaciones}}<span class="unity-data-t">(mm)</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="luz">
            <th mat-header-cell *matHeaderCellDef>Luminosidad</th>
            <td mat-cell *matCellDef="let element">
                {{element.luz}} %
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>