<div class="container-inicio">
    <div class="div-content-img">
        <img src="assets/images/logo/logo_silicon_misiones.png" id="logo_i_silicon" alt="logo_inicio_silicon">
        <img src="assets/images/logo/logo_app2.png" id="logo_i_comp" alt="logo_inicio">
        <div class="logo-content">
            <a href="https://www.fundacioncredicoop.com.ar/programa-crecer-cooperando" target="blank">
                <img src="assets/images/logo/logo_crecer_coop.png" id="logo_i_crep" alt="logo_inicio_crep">
            </a>
        </div>
    </div>
</div>