<mat-tab-group>
    <mat-tab label="ESTACIÓN">
        <div class="content">
                <mat-grid-list cols="2" rowHeight="1:0.25" style="justify-content: end;">

                    <mat-grid-tile class="m-g-t-dataStations"> 
                        <strong>ESTACIÓN: </strong>
                    </mat-grid-tile>

                    <mat-grid-tile class="m-g-t-dataStations-attribute">
                        {{stationData['nombre']}}
                    </mat-grid-tile>

                    <mat-grid-tile class="m-g-t-dataStations">
                        <strong>UBICACIÓN: </strong>
                    </mat-grid-tile>

                    <mat-grid-tile class="m-g-t-dataStations-attribute">
                        Campo Anexo
                    </mat-grid-tile>

                    <mat-grid-tile class="m-g-t-dataStations">
                        <strong>LOCALIDAD: </strong>
                    </mat-grid-tile>

                    <mat-grid-tile class="m-g-t-dataStations-attribute">
                        San Vicente
                    </mat-grid-tile>

                    <mat-grid-tile class="m-g-t-dataStations">
                        <strong>DEPARTAMENTO: </strong>
                    </mat-grid-tile>

                    <mat-grid-tile class="m-g-t-dataStations-attribute">
                        Guaraní
                    </mat-grid-tile>
                </mat-grid-list>
        </div>
    </mat-tab>
    <mat-tab label="ULTIMA INFORMACIÓN"> 
        <div class="content">
            <mat-card>
                <mat-grid-list cols="2" rowHeight="35px" >
                    <mat-grid-tile>
                        <figure class="mat-figure m-g-t-ultinfo-fc" >
                            <img src="assets/images/temp_icon.png" alt="icono temperatura ambiente">
                            <strong>TEMPERATURA</strong>
                        </figure>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <figure class="mat-figure m-g-t-ultinfo-sc" >
                            {{last_data_day['temperatura']}}°C
                        </figure>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
            <mat-card style="margin-top: 5px;">
                <mat-grid-list cols="2" rowHeight="35px" >
                    <mat-grid-tile>
                        <figure class="mat-figure m-g-t-ultinfo-fc" >
                            <img src="assets/images/hum_icon.png" alt="icono humedad">
                            <strong>HUMEDAD</strong>
                        </figure>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <figure class="mat-figure m-g-t-ultinfo-sc" >
                            {{last_data_day['humedad']}}%
                        </figure>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
            <mat-card style="margin-top: 5px;">
                <mat-grid-list cols="2" rowHeight="35px" >
                    <mat-grid-tile>
                        <figure class="mat-figure m-g-t-ultinfo-fc" >
                            <img src="assets/images/wind_icon.png" alt="icono vel viento">
                            <strong>VIENTO</strong>
                        </figure>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <figure class="mat-figure m-g-t-ultinfo-sc" >
                            {{last_data_day['viento']}}km/h
                        </figure>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
            <mat-card style="margin-top: 5px;">
                <mat-grid-list cols="2" rowHeight="35px" >
                    <mat-grid-tile>
                        <figure class="mat-figure m-g-t-ultinfo-fc" >
                            <img src="assets/images/pp_icon.png" alt="icono precipitacion">
                            <strong>PRECIPITACIÓN</strong>
                        </figure>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <figure class="mat-figure m-g-t-ultinfo-sc" >
                            {{last_data_day['precipitacion']}}mm
                        </figure>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="DATOS DEL DÍA"> 
        <app-tabla-datos [array_data]="array_data"></app-tabla-datos>
    </mat-tab>
    <mat-tab label="DATOS DEL DÍA"> 
        <button mat-raised-button color="primary" id="btn-advance-search">BUSCAR MÁS DATOS</button>
    </mat-tab>

</mat-tab-group>
