.content {
    padding: 4px;
    margin-top: 5px;
}

/**ESTACION**/

strong .size-data {
    font-size: 11px;
}

mat-grid-tile img {
    padding: 0px 5px;
    width: 30px;
    height: auto;
}

span.mat-line.m-t-dataStations {
    font-size: 18px; 
    padding-top: 5px; 
    /* font-weight: bold; */
}

span.mat-subheader.m-t-dataStations-attribute {
    font-size: 15px; 
    padding: 20px 15px 15px 15px; 
    color: black;
}

.mat-list-base .mat-list-item {
    color: black !important;
}

/**ULTIMA INFORMACION**/

mat-card {
    padding: 8px;
    background-color: rgb(0, 175, 215);
}

figure.mat-figure.m-g-t-ultinfo-fc {
    justify-content: start !important;
}

figure.mat-figure.m-g-t-ultinfo-fc strong {
    font-size: 13px;
    color: white;
    padding-left: 5px;
}

figure.mat-figure.m-g-t-ultinfo-sc {
    justify-content: flex-end !important;
    font-size: 20px;
    color: white;
}


/**DATOS DEL DIA**/

@media only screen and (max-width: 500px) {
    ::ng-deep .mat-dialog-container {
        padding: 12px !important;
    }

    ::ng-deep .cdk-overlay-pane {
        max-width: 90vw !important;
    }

}


/**DATOS DEL DIA**/

#btn-advance-search{
    text-align: center;
    display: block;
    margin: 22px auto;
    width: 222px;
    height: 50px;
    font-size: 20px;
    border-radius: 12px;
    background-color: rgb(0, 175, 215);
    color: white;
}