<mat-toolbar class="mat-toolbar-footer">
    <ul class="social=icons">
        <li>
            <a href="https://www.facebook.com/SiliconMisiones/" target="blank">
                <img src="assets/images/icons_social/facebook.png" alt="Facebook" class="icon-sn">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/siliconmisiones/" target="blank">
                <img src="assets/images/icons_social/instagram.png" alt="Instagram" class="icon-sn">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/siliconmisiones" target="blank">
                <img src="assets/images/icons_social/twitter.png" alt="Twitter" class="icon-sn">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCfvqZja9ZO47nmPGAn8-dYw" target="blank">
                <img src="assets/images/icons_social/youtube.png" alt="Youtube" class="icon-sn">
            </a>
        </li>
        <li>
            <a href="https://siliconmisiones.gob.ar/" target="blank">
                <img src="assets/images/icons_social/page.png" alt="Web_Page" class="icon-sn">
            </a>
        </li>
    </ul>
</mat-toolbar>
