<mat-toolbar class="mat-toolbar-footer">
    <ul class="social=icons">
        <li>
            <a href="https://www.facebook.com/SiliconMisiones/">
                <img src="assets/images/icons_social/facebook.png" alt="Facebook" class="icon-sn">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/siliconmisiones/">
                <img src="assets/images/icons_social/instagram.png" alt="Instagram" class="icon-sn">
            </a>
        </li>
        <li>
            <a href="https://twitter.com/siliconmisiones">
                <img src="assets/images/icons_social/twitter.png" alt="Twitter" class="icon-sn">
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/UCfvqZja9ZO47nmPGAn8-dYw">
                <img src="assets/images/icons_social/youtube.png" alt="Youtube" class="icon-sn">
            </a>
        </li>
        <li>
            <a href="https://siliconmisiones.gob.ar/">
                <img src="assets/images/icons_social/page.png" alt="Page" class="icon-sn">
            </a>
        </li>
    </ul>
</mat-toolbar>
