mat-toolbar {
    padding: 8px 0px;
    height: 70px;
}

.mat-toolbar-row {
    padding: 0 5px;
}

.menu-spacer {
    flex: 1 1 auto;
}

#img-logo {
    max-width: 170px;
}

a {
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

#nav-links a:hover {
    color: lightgray;
}

@media(max-width: 800px) {
    #img-logo {
        max-width: 130px;
    }
}