.mat-toolbar-header {
    padding: 8px 0px;
    height: 70px;
    background: url(../../../../../assets/images/logo/header.png) no-repeat center center;
    background-size: cover;
    color: white;
    z-index: 1;
    position: fixed;
    top: 0;
}

#icon-header {
    margin-bottom: 0px;   
}

.mat-toolbar-row {
    padding: 0 5px;
}

.menu-spacer {
    flex: 1 1 auto;
}

#img-logo {
    max-width: 170px;
}

a {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

#nav-links a:hover {
    color: lightgray;
}


#backButton{
    color: white;
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    margin: 0px 5px 5px 5px;
}

#imgBack {
    width: 25px;
}


@media(max-width: 800px) {
    #img-logo {
        max-width: 170px;
    }

    #icon-header {
        margin-bottom: 0px;
        margin-top: 11px;   
    }

    #backButton{
        color: white;
        background-color: transparent;
        border: none;
        padding: 0;
        outline: none;
        margin: 9px 5px 0px 5px;
    }

    #imgBack {
        width: 25px;
    }

}

