table {
    width: 100%;
    text-align: center;
}

.mat-cell {
    font-size: 13px;
    min-height: 32px;
    text-align: center;
    padding: 4px;
    margin-top: 10px;
}

tr.mat-header-row {
    height: 55px;
}

.mat-header-cell {
    text-align: center;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.card {
    flex: 0 1 calc(100% - 1em);
    box-sizing: border-box;
    margin: 1rem .50em;
}

@media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(1000% - 1em);
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: row;
    }
    .card {
        flex: 0 1 calc(100% - 1em);
    }
}

@media screen and (max-width: 420px) {
    .mat-paginator {
        display: block;
        width: 360px;
    }
}