 .example-form {
     min-width: 150px;
     max-width: 700px;
     width: 100%;
     background-color: rgb(0, 175, 215);
 }
 
 .demo-full-width {
     width: 100%;
     font-size: 12px !important;
 }
 
 .contenedor {
     width: auto;
     margin: 0px auto;
     margin-top: 0px;
     display: inline;
     padding: 10px auto;
     box-shadow: 0px 0px 2px rgb(0, 175, 215);
 }
 
 .center {
     width: 75%;
     margin: 10px auto;
 }
 
 .mat-card {
     text-align: -webkit-center;
 }
 
 .mat-card-title {
     text-align: -webkit-center;
 }
 
 .card-form {
     text-align: -webkit-left;
     display: center;
     max-width: 475.61px;
     margin: 2em auto;
     margin-left: 18px;
     margin-right: 18px;
     box-sizing: border-box;
 }
 
 .mat-card-subtitle {
     text-align: left;
     font-size: 10px;
 }
 
 mat-grid-tile {
     background: lightblue;
 }
 
 .cards {
     display: flex;
     flex-wrap: wrap;
 }
 
 .grafico {
     min-height: 500px;
 }
 
 .contenedor-grafico {
     justify-content: center;
 }
 
 .card {
     flex: 0 1 calc(100% - 1em);
     box-sizing: border-box;
     margin: 1rem .50em;
 }
 
 .main-div {
     height: 100%;
     display: flex;
     justify-content: center;
     box-shadow: 0px 0px 2px rgb(0, 175, 215);
     background-color: rgba(0, 175, 215);
 }
 
 .title-bar-style {
     padding: 1rem;
     font-size: 19px;
     color: rgba(45 85 110);
 }
 
 @keyframes fade-in {
     0% {
         opacity: 0;
     }
     50% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
 
 @keyframes fade-out {
     0% {
         opacity: 1;
     }
     50% {
         opacity: 0;
     }
     100% {
         opacity: 0;
     }
 }
 
 @media screen and (min-width: 60em) {
     .card {
         flex: 0 1 calc(100% - 1em);
         flex-wrap: wrap;
     }
 }
 
 @media screen and (min-width: 40em) {
     .cards {
         display: flex;
         flex-wrap: wrap;
         justify-content: row;
     }
     .card {
         flex: 0 1 calc(100% - 1em);
     }
 }
 
 .mat-toolbar-row {
     justify-content: space-between;
     padding: 0 5px;
 }
 
 .mat-toolbar.mat-primary {
     background: rgb(0, 175, 215);
     color: #fff;
 }
 
 .mat-flat-button,
 .mat-raised-button,
 .mat-fab,
 .mat-mini-fab {
     background: rgba(45, 85, 110, .91);
     color: white;
 }