.contenedor {
    width: 100%;
    margin-top: 35px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 12px;
}

.mat-card {
    padding: 0 !important;
}


/* Titulo y sub titulo de mat-info -card ultimos datos*/

.mat-info {
    margin-top: 7px !important;
}

.header-u-datos {
    margin-left: 10px;
    text-align: -webkit-center !important;
}

.header-datos {
    color: rgb(45, 85, 110) !important;
    margin-left: 22px;
    margin-right: 16px;
    margin-bottom: 12px;
}

.prototipo-u-datos {
    font-weight: 500;
    font-size: 16px;
    height: 22px;
    align-items: center;
    margin-bottom: 0px !important;
}

.temp-u-datos {
    font-size: 35px;
    padding-right: 10px;
    color: rgb(45, 85, 110);
    margin-bottom: 0px !important;
}

.localidad-u-datos {
    font-size: 11px;
    align-items: left;
    margin: 0px 0px;
    padding-bottom: 10px;
    font-weight: bold;
}

.humedad-u-datos {
    font-size: 11px;
    font-weight: 200;
    align-items: left;
    margin: 0px 0px;
    height: 15px;
    padding-top: 3px;
}

.humedad-u-datos img {
    float: left;
    width: 19px;
    padding-right: 5px;
    padding-top: 2px;
}

.viento-u-datos {
    font-size: 11px;
    font-weight: 200;
    align-items: left;
    margin: 0px 0px;
    height: 15px;
    padding-left: 2px;
    margin-bottom: 3px;
}

.viento-u-datos img {
    float: left;
    width: 15px;
    padding-right: 5px;
    padding-top: 1px;
}

.contenedor-proto-localidad {
    font-size: 13px;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
    color: rgb(45, 85, 110);
}

.contenedor-datos-sup {
    font-size: 12px;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgb(45, 85, 110);
}


/* Nombre del Sensor y valor  del sensor T-H-V-P-D **/

.sub-u-datos {
    font-size: 13px;
    font-weight: 500;
    padding-top: 6px;
    padding-bottom: 2px;
    color: rgb(45, 85, 110);
}

.sub-u-datos-d {
    padding-top: 7px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 13px;
    color: rgb(45, 85, 110);
}

.container-img-u-datos img {
    float: left;
    padding: 0px 10px;
    width: 75px;
    height: auto;
    color: white;
}

.sub-u-datos-d-viento {
    padding-top: 7px;
    margin-bottom: 10px;
    margin-right: 5px;
    font-size: 13px;
    color: rgb(45, 85, 110);
}

.sub-u-datos-d-viento img {
    float: left;
    padding: 0px 2px;
    width: 19.45px;
    height: auto;
    color: white;
}

.estado-tiempo {
    color: rgb(45, 85, 110);
}

.estado-tiempo img {
    float: left;
    width: 15px;
    padding-right: 5px;
    padding-top: 2px;
}

.content-items {
    padding: 8px;
    border: 2px solid rgb(45, 85, 110);
    border-radius: 1em;
    margin: 6px;
    background-color: white !important;
}

.sub-u-datos img {
    float: left;
    padding: 0px 10px;
    width: 25px;
    height: auto;
}


/* contenedor  y Datos puesta de sol y amanecer  **/

.amanecer-atardecer-content {
    padding: 5px !important;
    margin: 0px 5px;
}

.sub-u-datos-am-at {
    font-size: 13px;
    font-weight: 500;
    padding-top: 6px;
    padding-bottom: 2px;
    color: white;
}

.sub-u-datos-am-at-d {
    padding-top: 7px;
    margin-bottom: 10px;
    margin-right: 7px;
    font-size: 13px;
    color: white
}

.content-items-p {
    padding: 8px;
    background-color: rgb(45, 85, 110);
    border-radius: 1em;
    margin: 6px;
}

.content-items-p img {
    float: left;
    padding: 0px 10px;
    width: 25px;
    height: auto;
}


/* Contenedor del Mat Tab */

.mat-tab-content {
    padding-bottom: 10px;
    text-align: -webkit-left;
    max-width: 680px;
    margin: 2em auto;
    margin-left: 18px;
    margin-right: 18px;
    border-radius: 1em/1em;
    width: 90%;
}


/*Texto y valor de Ultima actualizacion */

.content-u-act {
    text-align: left;
    margin-right: 5px;
    font-weight: 500;
    font-size: 13px;
}

.sub-u-act {
    text-align: left;
    padding-left: 5px;
    padding-right: 16px;
    font-size: 11px;
    font-weight: 200;
}

.mat-content {
    min-height: 220px;
}


/*titulo,sub y bordes de mat card header y content*/

 ::ng-deep mat-card-header.mat-card-header {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: rgba(45 85 110)!important;
    padding-top: 8px !important;
    padding-bottom: 0px !important;
}

 ::ng-deep mat-card-title.mat-card-title {
    text-align: center;
    padding: 0em;
    margin-bottom: 5px;
}

 ::ng-deep .mat-card-header-text {
    width: 100% !important;
    margin: 0em !important;
}

.mat-card-content {
    padding: 10px !important;
    margin-bottom: 0px;
    font-size: 12px !important;
}

.checkbox {
    max-height: 0px;
}


/*  formulario,btn ,tit y subtitulo */

.card-form {
    text-align: -webkit-left;
    max-width: 680px;
    margin: 2em auto;
    margin-left: 18px;
    margin-right: 18px;
    border-radius: 1em/1em;
    width: 90%;
}

.btn-form {
    justify-content: flex-end !important;
}

.mat-card-title {
    text-align: -webkit-center !important;
    font-size: 18px;
    color: white;
}

.mat-card-subtitle {
    text-align: left;
    font-size: 12px;
}

.mat-divider {
    border-top-color: rgb(45, 85, 110);
}


/* Cambia el color del input del form en focus, warning, etc*/

 ::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: rgb(0, 175, 215) !important;
}

 ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(0, 175, 215) !important;
}

 ::ng-deep .mat-input-element {
    caret-color: rgb(0, 175, 215) !important;
}

 ::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: rgb(0, 175, 215) !important;
}


/*vel de animacion*/

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* C*/

@media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(100% - 1em);
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: row;
    }
    .card {
        flex: 0 1 calc(100% - 1em);
    }
}


/* Custom para mat tab label*/

 ::ng-deep .mat-tab-label {
    height: 30px !important;
    min-height: 14px!important;
    margin: 5px!important;
    width: 150px!important;
    min-width: 15px!important;
    font-size: 17px;
    font-weight: 400;
    padding-left: 0px;
    padding-right: 0px;
}

.mat-toolbar.mat-primary {
    background: rgb(0, 175, 215);
    color: #fff;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
    background: rgba(45, 85, 110, .91);
    color: white;
}