<div class="contenedor">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
        <mat-card class="card-form">
            <mat-card-header>
                <mat-card-title> BUSCADOR DE DATOS AGROMETEOROLÓGICOS </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form fxLayout="column" [formGroup]="formulario" (ngSubmit)="searchData()">
                    <p>
                        <mat-checkbox formControlName="checkbox" (click)="change()" class="checkbox">Consultar por rango de fechas</mat-checkbox>
                    </p>
                    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Instituciones</mat-label>
                            <input matInput type="text" formControlName="institutoControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayInstitucion" (optionSelected)='getPrototipos(formulario.get("institutoControl").value)'>
                                <mat-option *ngIf="isLoading" [value]="default" class="is-loading">Cargando datos...</mat-option>
                                <ng-container *ngIf="!isLoading">

                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                        {{option.nombre}}
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                            <mat-error *ngIf="institutoNoValido">
                                Seleccionar instituto
                            </mat-error>
                            <mat-error *ngIf="institutoNoValidoLista">
                                Seleccionar un instituto de la lista
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Prototipos</mat-label>
                            <mat-select #mats matInput [(ngModel)]="selected" formControlName="prototipoControl">
                                <mat-option *ngIf="isLoadingPrototype" class="is-loading">Cargando datos...</mat-option>
                                <ng-container *ngIf="!isLoadingPrototype">
                                    <mat-option *ngFor="let prototipo of prototiposArr" [value]="prototipo">
                                        {{prototipo.nombre}}
                                    </mat-option>
                                </ng-container>
                            </mat-select>
                            <mat-error *ngIf="prototipoNoValido">
                                Seleccionar un prototipo
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Seleccionar Fecha</mat-label>
                            <input matInput [matDatepicker]="dp3" formControlName="fechaInicio" [min]="dateMin" [max]="dateMax">
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3></mat-datepicker>
                            <mat-error *ngIf="formulario.get('fechaInicio').hasError('required')">
                                Dato valido requerido.
                            </mat-error>
                            <mat-error *ngIf="formulario.get('fechaInicio').hasError('matDatepickerMin')">
                                Seleccione una fecha minima valida
                            </mat-error>
                            <mat-error *ngIf="formulario.get('fechaInicio').hasError('matDatepickerMax')">
                                Seleccione una fecha maxima válida
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" *ngIf="checkStatus" fxFlex>
                            <mat-label>Seleccionar Fecha Fin</mat-label>
                            <input matInput [matDatepicker]="dp4" formControlName="fechaFin" [min]="dateMin" [max]="dateMax">
                            <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                            <mat-datepicker #dp4></mat-datepicker>
                            <mat-error *ngIf="formulario.get('fechaFin').hasError('required')">
                                Dato valido requerido.
                            </mat-error>
                            <mat-error *ngIf="hastaMenorDesde">
                                Fecha Fin es menor o igual a Inicio
                            </mat-error>
                            <mat-error *ngIf="outRangeMax">
                                Fecha Fin es mayor a fecha actual
                            </mat-error>
                            <mat-error *ngIf="outRangeMin">
                                Fecha Fin es menor a fecha minima permitida
                            </mat-error>
                        </mat-form-field>

                        <mat-error *ngIf="(error) && (error$.titulo === 'internet')">
                            {{ error$.mensaje }}
                        </mat-error>
                        <mat-error *ngIf="(error) && (error$.titulo === 'sinDatos')">
                            {{ error$.mensaje }}
                        </mat-error>
                        <p *ngIf="(error$.titulo === 'buscar') && (error) " class="primary"> {{error$.mensaje}} </p>
                    </div>
                    <div class="input-row" fxLayout="column" fxLayout.lt-md="column">
                        <button class="btn-form" mat-raised-button type="submit" [disabled]="!formulario.valid" fxFlex>CONSULTAR</button>
                    </div>
                </form>

            </mat-card-content>
            <mat-card-actions></mat-card-actions>
        </mat-card>
    </div>
    <app-spinner></app-spinner>
    <!-- <div [class.spinner]="loading"></div> -->
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" *ngIf="tablaStatus">


        <mat-card class="mat-tab-content">

            <mat-tab-group *ngIf="!error" id="tab-group" headerPosition="above" [(selectedIndex)]="selectedIndex" dynamicHeight="true">

                <mat-tab label="Ultimos Datos">
                    <div class="content">
                        <mat-card class="mat-info">
                            <div class="header-datos">
                                <div fxFlex fxLayout="row" fxLayout.sm="row" fxLayout.xs="row" fxLayout.lg="row" fxLayoutAlign="space-between center">
                                    <div fxFlex fxLayoutAlign="none">
                                        <div fxflex class="contenedor-datos-sup" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayout.lg="column">
                                            <h2 fxflex class="temp-u-datos">{{ultimosDatos.datosAmbientales['temperaturaAmbiente']}}°C</h2>
                                            <p fxFlex class="viento-u-datos"> <img src="{{src_d_wind}}" alt="icono vel viento"> {{ultimosDatos.datosAmbientales['viento']}}km/h</p>
                                            <p fxFlex class="humedad-u-datos"><img src="assets/images/icons_modal/humedad_b.png" alt="icono vel viento"> {{ultimosDatos.datosAmbientales['humedadAmbiente']}}% </p>


                                        </div>

                                        <div fxflex class="contenedor-proto-localidad" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayout.lg="column">
                                            <h1 class="prototipo-u-datos" fxFlex> {{selected.nombre}} </h1>
                                            <p fxFlex class="localidad-u-datos"> {{selectedInstitucion}}</p>
                                        </div>
                                    </div>
                                    <div fxflex fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayout.lg="column">
                                        <div *ngIf="estadoClima == 2" fxflex class="container-img-u-datos"> <img src="assets/images/icons_modal/soleado.png" alt="icono del sol"></div>
                                        <div *ngIf="estadoClima == 1 " fxflex class="container-img-u-datos"> <img src="assets/images/icons_modal/rain.png" alt="icono de lluvia"></div>
                                        <div *ngIf="estadoClima == 3 " fxflex class="container-img-u-datos"> <img src="assets/images/icons_modal/noche.png" alt="icono de lluvia"></div>
                                    </div>
                                </div>

                            </div>
                            <mat-divider></mat-divider>
                            <mat-card-content style="min-height: 254.8px;" fxLayout="row" class="ultimos-datos-mat" fxLayout.lt-md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayout.lg="row">


                                <div fxFlex fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayout.lg="column">

                                    <div class="content-items" fxflex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap.lt-md="0px">
                                        <div fxflex class="sub-u-datos"> <img src="assets/images/icons_modal/hum_icon_w_2.png" alt="icono humedad"> HUMEDAD SUELO </div>
                                        <div fxflex class="sub-u-datos-d"> {{ultimosDatos.datosAmbientales['humedadSuelo']}}%</div>
                                    </div>


                                    <div class="content-items" fxflex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap.lt-md="0px">
                                        <div fxflex class="sub-u-datos"><img src="assets/images/icons_modal/pp_icon_w_2.png" alt="icono precipitacion"> PRECIPITACIÓN </div>
                                        <div fxflex class="sub-u-datos-d"> {{ultimosDatos.datosAmbientales['precipitaciones']}}(mm)</div>
                                    </div>

                                </div>
                                <div fxFlex fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayout.lg="column">
                                    <div class="content-items" fxflex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap.lt-md="0px">
                                        <div fxflex class="sub-u-datos"> <img src="assets/images/icons_modal/uv.png" alt="icono  uv"> LUMINOSIDAD </div>
                                        <div fxflex class="sub-u-datos-d"> {{ultimosDatos.datosAmbientales['luz']}}%</div>
                                    </div>

                                    <div class="content-items" fxflex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap.lt-md="0px">
                                        <div fxflex class="sub-u-datos"> <img src="assets/images/icons_modal/lluvia_b.png" alt="lluvia"> LLUVIA </div>
                                        <div fxflex class="sub-u-datos-d"> {{ultimosDatos.datosAmbientales['lluvia']}}%</div>
                                    </div>

                                </div>


                            </mat-card-content>



                            <div fxLayout="row" fxLayout.lt-md="row" fxLayoutGap="0px" fxLayoutAlign="end" fxLayoutGap.lt-md="0px">

                                <div fxflex class="content-u-act"> Ultima Actualización : </div>
                                <div fxflex class="sub-u-act"> {{ultimosDatos.fecha | date:'dd/MM/yy HH:mm:ss ':'UTC'}} </div>
                            </div>
                        </mat-card>

                    </div>

                </mat-tab>
                <mat-tab label="Listado de Datos">
                    <div *ngIf="tablaStatus">
                        <app-tabla [dato_form]="datosPorfecha"></app-tabla>
                    </div>



                </mat-tab>
                <mat-tab *ngIf="(checkStatus) && (flagChartMatTab===true)" label="Gráfico Diario">

                    <div fxFlex="100%" fxFill>
                        <div fxLayout="column">

                            <ng-template matTabContent>

                                <app-grafico *ngIf="(tablaStatus)" [datos]="datosPorfecha" [fechas]="fixedDias"></app-grafico>
                            </ng-template>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab *ngIf="(!checkStatus) && (flagChartMatTab===true)" label="Gráfico Horario">
                    <div fxFlex="100%" fxFill style="min-height: 409.8px;">
                        <div fxLayout="column">

                            <ng-template matTabContent>

                                <app-grafico-horario *ngIf="(tablaStatus)" [datos]="datosPorfecha" [fechas]="fixedDias"></app-grafico-horario>
                            </ng-template>
                        </div>

                    </div>
                </mat-tab>


            </mat-tab-group>




        </mat-card>

    </div>
    <br><br>

</div>