@import "~leaflet/dist/leaflet.css";
html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.leaflet-popup-content {
    margin: 10px 12px;
    line-height: 1.6;
}

mat-toolbar {
    display: flex;
    padding: 8px 0px;
    height: 70px;
    align-items: center;
    width: 100%;
}

.mat-toolbar.mat-primary {
    background: rgba(0, 175, 215, .92);
    color: #fff;
}

mat-checkbox-inner-container {
    height: 12px !important;
    width: 12px !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: rgba(0, 175, 215, .92);
}